*.ppk
*.pub
*.dmp
.env
*.env
*.pyc
docker-compose.yml
Dockerfile.jp
Dockerfile.ng
Dockerfile.pg
Dockerfile.pr
Dockerfile.gs
*.gdb
ImportLog*
demo/arcgis/CIP-service/.backups/
demo/arcgis/CIP-service/GpMessages/
demo/arcgis/CIP-service/scratch/
demo/arcgis/CIP-service/Index/
/demo/jupyter/.ipynb_checkpoints
