# All profiles require an .env file to contain your project secrets
# Use this template to fill out the needed values
#
# Users may or may not consider the name of the database to be a secret.  Leave commented to use the default value of cipsrv.
# If a custom database name is chosen, all bundles that reference the database will need their .env files updated to match
#POSTGRESQL_DB=
#
# If the engine database is located outside the docker environment, update the following to the location of the external database engine.
#POSTGRESQL_HOST=
#
# If the engine database is located outside the docker environment, update the following to the port used by the external database engine.  
# Leave commented to use the PostgreSQL default 5432.
#POSTGRESQL_PORT=
#
# Provide the password for the postgres super user or cloud admin used to create and setup the database
# Users are strongly encourage to fortify this value for better security.
POSTGRESQL_SU_PASS=cip123
#
# Provide the password for the cipsrv user used to own the database and the data in the database.
# Users are strongly encourage to fortify this value for better security.
POSTGRESQL_CIP_PASS=cip123
#
# Provide the password for the cipsrv_user user used for unprivledged access to the database.
# Users are strongly encourage to fortify this value for better security.
POSTGRESQL_USR_PASS=cip123
#
# Provide the password for the cipsrv_upload user used to process batch indexing in the database.
# Users are strongly encourage to fortify this value for better security.
POSTGRESQL_UPL_PASS=cip123
#
# Provide the password for the cipsrv_geoserver user used to visualize resources.
# Users are strongly encourage to fortify this value for better security.
POSTGRESQL_GIS_PASS=cip123
#
# Provide the password for the cipsrv_pgrest user used to drive the REST API middleware.
# Users are strongly encourage to fortify this value for better security.
POSTGREST_PASS=cip123
#

