# All profiles require an .env file to contain your project secrets
# Use this template to fill out the needed double-quoted values
#
#GEOSERVER_HOST=localhost
#GEOSERVER_PORT=8081
#POSTGRESQL_DB=
#POSTGRESQL_HOST=
#POSTGRESQL_PORT=
POSTGRESQL_GIS_PASS=cip123
#
GEOSERVER_ADMIN_PASSWORD=cip123
