# All profiles require an .env file to contain your project secrets
# Use this template to fill out the needed double-quoted values
#
# Users may or may not consider the name of the database to be a secret.
# Thus the database name may be provided directly in the profile or abstracted in the profile as env.POSTGRESQL_DB
# in which case the value is read from here
POSTGRESQL_DB=
#
# Users may or may not consider the hostname of the database to be a secret.
# Thus the host name may be provided directly in the profile or abstracted in the profile as env.POSTGRESQL_HOST
# in which case the value is read from here
POSTGRESQL_HOST=
#
# Users may or may not consider the port of the database to be a secret.
# Thus the database port may be provided directly in the profile or abstracted in the profile as env.POSTGRESQL_PORT
# in which case the value is read from here
POSTGRESQL_PORT=
#
# Provide the password for the cipsrv user used to own the database and the data in the database
POSTGRESQL_CIP_PASS=
#
# Provide the jupyter token used to secure the admin Jupyter notebooks.  For testing purposes a value of "easy" will
# allow open access via an endpoint like https://localhost:8888/?token=easy
JUPYTER_TOKEN=
#
# If the git repository requires a deployment key, provide the file location stem of that key here.  For example if the 
# key is colocated in the project root and is named mykey.ppk and mykey.pub, provide ./mykey
CIPSRV_DEPLOYKEY=
