FROM nginx:1.22

LABEL maintainer="Paul Dziemiela <Paul.Dziemiela@erg.com>"

{%- if 'host' in components.cip_pr %}
{%-    set postgrest_host = components.cip_pr.host %}
{%- else %}
{%-    set postgrest_host = 'cip_pr' %}
{%- endif %}
{%- if 'port' in components.cip_pr %}
{%-    set postgrest_port = components.cip_pr.port %}
{%- else %}
{%-    if 'remote_port' in components.cip_pr %}
{%-       set postgrest_port = components.cip_pr.remote_port %}
{%-    else %}
{%-       set postgrest_port = '3000' %}
{%-    endif %}
{%- endif %}
{%- if postgrest_host == 'env.POSTGREST_HOST' %}
{%-    set postgrest_host = '${ARG_POSTGREST_HOST}' %}
ARG ARG_POSTGREST_HOST
{%- endif %}
{%- if postgrest_port == 'env.POSTGREST_PORT' %}
{%-    set postgrest_port = '${ARG_POSTGREST_PORT}' %}
ARG ARG_POSTGREST_PORT
{%- endif %}

COPY ./nginx/html       /usr/share/nginx/html
COPY ./nginx/nginx.conf /etc/nginx/conf.d/default.conf

RUN printf "\                              
   const postgrest_host = '{{ postgrest_host }}';\n\
   const postgrest_port = '{{ postgrest_port }}';\n\
" > /usr/share/nginx/html/config.js 
    
EXPOSE 80

CMD ["nginx", "-g", "daemon off;"]
