FROM nginx:1.27.4

LABEL maintainer="Paul Dziemiela <Paul.Dziemiela@erg.com>"

{%- if cip_pr_prot == 'env.POSTGREST_PROT' %}
{%-    set postgrest_prot = '${ARG_POSTGREST_PROT}' %}
ARG ARG_POSTGREST_PROT
{%- else %}
{%-    set postgrest_prot = cip_pr_prot %}
{%- endif %}
{%- if cip_pr_host == 'env.POSTGREST_HOST' %}
{%-    set postgrest_host = '${ARG_POSTGREST_HOST}' %}
ARG ARG_POSTGREST_HOST
{%- else %}
{%-    set postgrest_host = cip_pr_host %}
{%- endif %}
{%- if cip_pr_port == 'env.POSTGREST_PORT' %}
{%-    set postgrest_port = '${ARG_POSTGREST_PORT}' %}
ARG ARG_POSTGREST_PORT
{%- else %}
{%-    set postgrest_port = cip_pr_port %}
{%- endif %}
{%- if cip_gis_type == 'env.GIS_TYPE' %}
{%-    set gis_type = '${ARG_GIS_TYPE}' %}
ARG ARG_GIS_TYPE
{%- else %}
{%-    set gis_type = cip_gis_type %}
{%- endif %}
{%- if cip_gis_prot == 'env.GIS_PROT' %}
{%-    set gis_prot = '${ARG_GIS_PROT}' %}
ARG ARG_GIS_PROT
{%- else %}
{%-    set gis_prot = cip_gis_prot %}
{%- endif %}
{%- if cip_gis_host == 'env.GIS_HOST' %}
{%-    set gis_host = '${ARG_GIS_HOST}' %}
ARG ARG_GIS_HOST
{%- else %}
{%-    set gis_host = cip_gis_host %}
{%- endif %}
{%- if cip_gis_port == 'env.GIS_PORT' %}
{%-    set gis_port = '${ARG_GIS_PORT}' %}
ARG ARG_GIS_PORT
{%- else %}
{%-    set gis_port = cip_gis_prot %}
{%- endif %}
ARG DEBIAN_FRONTEND=noninteractive

RUN apt-get update                                       &&\
    apt-get install -y --no-install-recommends             \
       vim                                               &&\
    rm -rf /var/lib/apt/lists/*

COPY ./nginx/html       /usr/share/nginx/html
COPY ./nginx/nginx.conf /etc/nginx/conf.d/default.conf
COPY --from=docs ./openapi.yml /usr/share/nginx/html/openapi.yml

RUN printf "\
   const postgrest_prot = '{{ postgrest_prot }}';\n\
   const postgrest_host = '{{ postgrest_host }}';\n\
   const postgrest_port = '{{ postgrest_port }}';\n\
  
   const gis_type = '{{ gis_type }}';\n\  
   const gis_prot = '{{ gis_prot }}';\n\
   const gis_host = '{{ gis_host }}';\n\
   const gis_port = '{{ gis_port }}';\n\
" > /usr/share/nginx/html/config.js 

EXPOSE 80

CMD ["nginx", "-g", "daemon off;"]
