# All profiles require an .env file to contain your project secrets
# Use this template to fill out the needed double-quoted values
#
# The demos run locally within a web browser and thus must "know" where the CIP API resides.  In the most straightforward case that will be your localhost 
# address where docker is running.  If docker resides elsewhere or you are using an external engine API, then update this value to that location.
# Leave commented to use localhost.
#POSTGREST_HOST=localhost
#
# The demos run locally within a web browser and thus must "know" the port used by the CIP API.  As the API uses PostgREST which uses port 3000 by default, 
# leave this commented to use the default port 3000.
#POSTGREST_PORT=3000
#
# The demos run locally within a web browser against the Nginx server in the demo bundle.  By default that server is exposed as port 8080.  Uncomment and
# change this value if you need that server exposed on a different port
#NGINX_PORT=808
