# All profiles require an .env file to contain your project secrets
# Use this template to fill out the needed double-quoted values
#
# The demos run locally within a web browser and thus must "know" where the CIP-service API resides.  In the most straightforward case that will be your http localhost 
# address where docker is running on port 3000.  If docker resides elsewhere or you are using an external engine API, then update these values to that location.
# Leave commented to use http localhost port 3000 defaults.
#POSTGREST_PROT=http
#POSTGREST_HOST=localhost
#POSTGREST_PORT=3000
#
# The demos run locally within a web browser and thus must "know" where the GIS services resides.  In the most straightforward case that will be your http localhost 
# address where docker is running geoserver dwon port 8081.  If docker resides elsewhere or you are using an external GIS server, then update these values to that location.
# Leave commented to use http localhost port 8081 defaults.
#GIS_TYPE=geoserver
#GIS_PROT=http
#GIS_HOST=localhost
#GIS_PORT=8081
#
# The demos run locally within a web browser against the Nginx server in the demo bundle.  By default that server is exposed as port 8080.  Uncomment and
# change this value if you need that server exposed on a different port
#NGINX_PORT=808
